<%= form_for post do |form| %>
    <div class ="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

      <div class ="field">
        <%= form.label :description %>
        <%= form.text_field :description %>
    </div>
        <%= form.label :user %>
        <%= form.collection_select :user_id, User.all, :id, :first_name %>
    <%= form.submit %>
<% end %>

